include head.pug
-
    var prevDisabled = data.currentIndex === 0
    var prevDisabledClass = prevDisabled ? " disabled" : ""
    var nextDisabled = data.currentIndex === data.lastIndex
    var nextDisabledClass = nextDisabled ? " disabled" : ""

div(class="content")
    div(class="nav")
        a(
            href="/comic/0"
            class="nav-button btn btn-sm btn-primary" + prevDisabledClass
            role="button"
            aria-disabled=prevDisabled
        ) first
        a(
            href="/comic/" + data.previousIndex
            class="nav-button btn btn-sm btn-primary" + prevDisabledClass
            role="button"
            aria-disabled=prevDisabled
        ) prev
        a(
            href="/comic/" + data.nextIndex
            class="nav-button btn btn-sm btn-primary" + nextDisabledClass
            role="button"
            aria-disabled=nextDisabled
        ) next
        a(
            href="/comic/" + data.lastIndex
            class="nav-button btn btn-sm btn-primary" + nextDisabledClass
            role="button"
            aria-disabled=nextDisabled
        ) last
        a(href="/archive")
            button(class="nav-button btn btn-sm btn-primary") archive
    div(id="comic-div")
        img(
            id="comic-image",
            src="/assets/comics/images/" + data.comicData.filename,
            title=data.comicData.hoverText)
        p Date: #{data.comicData.date}
